{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
        {% if (form_errors(registrationForm)) %}
            <div class="alert alert-danger">
                {% for error in form_errors(registrationForm) %}
                    <li>{{ error }}</li>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-6">
                {{ form_row(registrationForm.username) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.email) }}
            </div>
        </div>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Termes'
        }) }}

        <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
